<template>
    <div class="log-in form-card">
        <div class="succes-info" :class="{'is-active' : succesInfo}">{{succesMessage}}</div>
        <h1>Sign in</h1>
        <div class="login-form">
            <div class="login-email">
                <input v-model="emailInput" placeholder="email" />
            </div>
            <div class="login-pass">
                <input v-model="passInput" placeholder="password" />
            </div>
            <div class="btns-wrapper">
                <div class="button-wrapper">
                    <button-el @signIn="signIn" :eventName="'signIn'" :btnClassType="'success'" :buttonText="'Sign in'"></button-el>
                </div>
                <div class="button-wrapper">
                    <button-el @close="close" :eventName="'close'" :btnClassType="'danger'" :buttonText="'cancel'"></button-el>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import bullShit from 'qs' // no offence to qs btw!
import buttonEl from '@/elements/Button'

export default {
    name: 'Login',
    components: {
        buttonEl,
    },
    data() {
        return {
            emailInput: '',
            passInput: '',
            succesInfo: false,
            succesMessage: '',
        }
    },
    methods: {
        sendMsg(msg) {
            this.succesInfo = true;
            this.succesMessage = msg;

            setTimeout(() => {
            this.succesInfo = false;
            }, 3000)
        },
        signIn() {
            const vm = this;
            const email = this.emailInput;
            const password = this.passInput;
            const emailTestPattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if (email !== '' && password !== '') {

                const validEmail = emailTestPattern.test(String(email).toLowerCase());

                if (validEmail) {
                    const postData = {
                        email,
                        password,
                    }
                    axios.defaults.withCredentials = true;
                    axios.post('http://localhost:8000/Users.php?action=logInUser', bullShit.stringify(postData)).then(function(result) {
                        console.log(result.data);
                        if(result.data.validPas) {
                            vm.$router.push({name:"welcome"})
                        } else {
                            const msg = 'User could not be Authenticated';
                            vm.sendMsg(msg);
                            console.log('User could not be Authenticated')
                        }
                    }).catch(function(error) {
                        const msg = error;
                        vm.sendMsg(msg);
                        console.log(error);
                    })
                } else {
                    const msg = 'invalid email address';
                    vm.sendMsg(msg);
                    console.log('invalid email address');
                }
            } else {
                if (email === '') {
                    const msg = 'empty email input';
                    vm.sendMsg(msg);
                    console.log('empty email input');
                } else if (password === '') {
                    const msg = 'empty password input';
                    vm.sendMsg(msg);
                    console.log('empty password input');
                } else {
                    const msg = 'f* something else went wrong';
                    vm.sendMsg(msg);
                    console.log('f* something else went wrong');
                }
            }
        },
        close() {
            this.$store.commit('activateLogin', false);
        }
    },
}
</script>

<style scoped>
.login-form {
    width: 75%;
}

.succes-info {
    position: absolute;
    top: 2.25em;
    right: -400px;
    transition-duration: 0.5s;
}

.succes-info.is-active {
    right: 200px;
    min-width: 200px;
    background-color: #2c3e50;
    box-shadow: 0px 1px 1px #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: red;
}
</style>
