<template>
    <div class="my-info-form">
        <div class="succes-info" :class="{'is-active' : succesInfo}">{{succesMessage}}</div>
        <div class="info-form form-left">
            <div class="user-info info-name">
                <label class="info-label">Name:</label>
                <input v-model="userName" placeholder="Your display name" />
            </div>
            <div class="user-info info-DOB">
                <label class="info-label">Your date of birth:</label>
                <div class="DOB-selection">
                    <span class="arrow">
                        <select name="day" v-model="choosenDay">
                            <option class="placeholder" :value="null" disabled selected>Day</option>
                            <option v-for="i in (1, 31)" :key="i" :value='i'>{{i}}</option>
                        </select>
                    </span>
                    <span class="arrow">
                        <select name="month" v-model="choosenMonth">
                            <option class="placeholder" :value="null" disabled selected>Month</option>
                            <option v-for="(month, index, monthNum) in months" :key="index" :value='monthNum'>{{month}}</option>
                        </select>
                    </span>
                    <span class="arrow">
                        <select name="year" v-model="choosenYear">
                            <option class="placeholder" :value="null" disabled selected>Year</option>
                            <option v-for="year in years" :key="year" :value='year'>{{year}}</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="user-info info-email">
                <label class="info-label">change email:</label>
                <input placeholder="New email" />
            </div>
            <div class="user-info info-other">
                <label class="info-label">other stuff:</label>
                <input placeholder="other input things you might want" />
            </div>
            <div class="user-info info-other">
                <label class="info-label">other stuff:</label>
                <input placeholder="other input things you might want" />
            </div>
            <div class="user-info info-other">
                <label class="info-label">other stuff:</label>
                <input placeholder="other input things you might want" />
            </div>
        </div>
        <div class="info-form form-right">
            <div class="user-info info-bio">
                <label class="info-label">Bio:</label>
                <textarea v-model="userBio" :maxlength="inputMax" :disabled="disAbleTextArea" placeholder="Tell something about yourself..." @input="calcInputLeft"/>
                <span class="input-count">{{inputLeft}}/300</span>
            </div>
        </div>
        <button-el class="save-info-btn" @sendForm="sendForm" :eventName="'sendForm'" :btnClassType="'success'" :buttonText="'SAVE'"></button-el>
    </div>
</template>

<script>
import axios from 'axios'
import bullShit from 'qs' // no offence to qs btw!
import buttonEl from '@/elements/Button'

export default {
    components : {
        buttonEl,
    },
    computed : {
        years () {
            const year = new Date().getFullYear();
            const yearArr = Array.from({length: year - 1899}, (value, index) => 1900 + index);
            return yearArr.reverse();
        },
    },
    created() {
        this.getInfoData()
    },
    data() {
        return {
            userName: null,
            userBio: null,
            months: {
                1: 'January',
                2: 'February',
                3: 'March',
                4: 'April',
                5: 'May',
                6: 'June',
                7: 'July',
                8: 'August',
                9: 'September',
                10: 'October',
                11: 'November',
                12: 'December',
            },
            choosenYear: null,
            choosenMonth: null,
            choosenDay: null,
            inputMax: 300,
            inputLeft: null,
            disAbleTextArea: false,
            succesInfo: false,
            succesMessage: null,
        }
    },
    methods: {
        sendMsg(msg) {
            this.succesInfo = true;
            this.succesMessage = msg;

            setTimeout(() => {
            this.succesInfo = false;
            }, 3000)
        },
        async getInfoData() {
            const userData = await axios.get('http://localhost:8000/Account.php?action=accountData').then(function(result) {
                // there should be only 1 result
                return result.data[0];
            }).catch(function(error) {
                this.sendMsg(error);
            })

            if (userData.userName) {
                this.userName = userData.userName;
            }

            if (userData.userBIO !== "NULL") {
                this.inputLeft = this.inputMax - userData.userBIO.length;
                this.userBio = userData.userBIO;
            } else {
                this.inputLeft = this.inputMax;
            }

            if (userData.userDOB) {
                console.log(userData.userDOB)
            }
        },
        calcInputLeft() {
            const currentInputAmout = this.userBio.length;
            this.inputLeft = this.inputMax - currentInputAmout;
            if (this.inputLeft < 0) {
                this.disAbleTextArea = true;
            }
        },
        sendForm() {
            const username = this.userName || null;
            const userbio = this.userBio || null;
            const vm = this;
            let userDOB = null;

            if (this.choosenYear && this.choosenMonth && this.choosenDay) {
                userDOB = `${this.choosenDay}/${this.choosenMonth}/${this.choosenYear}`;
            } else if (this.choosenYear || this.choosenMonth || this.choosenDay) {
                const msg = 'invalid DOB';
                this.sendMsg(msg);
            } else {
                // just continue cuz' DOB is completely empty
            }

            const postData = {
                username,
                userbio,
                userDOB
            }

            if (username || userbio || userDOB) {
                axios.defaults.withCredentials = true;
                axios.post('http://localhost:8000/Account.php?action=saveAccountData', bullShit.stringify(postData)).then(function(result) {
                    const msg = result.data;
                    vm.sendMsg(msg);
                }).catch(function(error) {
                    vm.sendMsg(error);
                })
            } else {
                const msg = 'nothing to save';
                vm.sendMsg(msg);
            }
        }
    }
}
</script>

<style scoped>
.my-info-form {
    padding: 10px;
    margin: 5px;
    max-width: 100vw;
    font-weight: bold;
}

.info-form {
    width: 48%;
}

.form-left,
.form-right {
    position: absolute;
}

.form-left {
    left: 0;
    margin-left: 10px;
}
.form-right {
    right: 0;
    margin-right: 10px;
}

.user-info {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.info-label {
    margin-right: 5px;
}

.user-info.info-bio {
    height: 100%;
    align-items: flex-start;
}

.info-bio textarea {
    height: 300px;
    width: 90%;
    resize: vertical;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    font-size: 16px;
    color: #606266;
    font-weight: bold;
}

.info-bio textarea::placeholder {
    font-size: 16px;
    color: #606266;
    font-weight: normal;
}

.input-count {
    position: absolute;
    bottom: 2px;
    right: 13px;
}

.DOB-selection {
    display: flex;
    width: 50%;
}

span.arrow {
    width: calc((100% - 10px) / 3);
    height: 100%;
    position: relative;
}

span.arrow:after {
    content: "\25bc";
    font-family: "FontAwesome";
    font-size: 10px;
    color: #606266;
    right: 10px;
    top: 20px;
    position: absolute;
    pointer-events: none;
}

.DOB-selection span.arrow:not(:first-child) {
    margin-left: 10px;
}

.DOB-selection select {
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    padding: 15px 5px;
    color: #606266;
    display: block;
    font-weight: bold;
}

input {
    width: 50%;
    font-weight: bold;
    margin: 0;
}

input::placeholder {
    font-weight: normal;
}

.save-info-btn.success {
    position: absolute;
    bottom: 5px;
    left: 1%;
    width: 98%;
    border-color: rgb(75, 181, 67);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
}

.succes-info {
    position: absolute;
    top: 2.25em;
    right: -400px;
    transition-duration: 0.5s;
}

.succes-info.is-active {
    right: 200px;
    min-width: 200px;
    background-color: #2c3e50;
    box-shadow: 0px 1px 1px #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: red;
}

</style>
