<template>
  <div class="Home">
    <h1>Welkom!</h1>
    <div class="user-action-area">
      <login v-if="activeLogin"></login>
      <signup v-if="activeSignup"></signup>
    </div>
    <div class="content-area">
      <h2>Content stuff enzo</h2>
    </div>
  </div>
</template>

<script>
import Login from '@/components/LoginForm';
import Signup from '@/components/SignupForm';
import { mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
    Login,
    Signup
  },
  computed: {
    ...mapGetters([
      'activeSignup',
      'activeLogin',
    ])
  },  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Home {
  height: 100%;
}

a {
  color: #42b983;
}
</style>
