<template>
    <div class="my-info">
        <myInfoForm></myInfoForm>
    </div>
</template>

<script>
import myInfoForm from '@/components/MyInfoForm'

export default {
    name: 'my-info',
    components: {
        myInfoForm,
    },
}
</script>

<style scoped>

</style>
