<template>
    <h1>Hi {{userMail}}</h1>
</template>

<script>
import axios from 'axios';

export default {
    created() {
        this.checkCookie();
    },
    data() {
        return {
            userMail: 'gekkehenkie@yo.nl',
        }
    },
    methods: {
        deleteCookie() {
            document.cookie = 'gekkehenkie=; Max-Age=-99999999;';
        },
        checkCookie() {
            axios.defaults.withCredentials = true;
            axios.get('http://localhost:8000/Users.php?action=getCookie').then(function(result) {
                if (!result.data) {
                    this.deleteCookie();
                }
            }).catch(function(error) {
                console.log(error);
            });
        },
    },
}
</script>
