<template>
    <button type='button' @click="startEmmit" :class="btnClassType">{{buttonText}}</button>
</template>

<script>
export default {
  props: {
    buttonText: {
      type: String,
      required: true
    },
    btnClassType: {
      type: String,
      required: true
    },
    eventName: {
      type: [String, Boolean],
      required: true
    }
  },
  methods: {
    startEmmit() {
      if (this.eventName !== false) {
        // return the click to the parent
        // where the function should life
        this.$emit(this.eventName);
      }
    }
  }
};
</script>

<style scoped>
.navi-btn,
.danger,
.success {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
}

.success:hover {
    color: #fff;
    border-color: rgb(75, 181, 67);
    background-color: rgba(75, 181, 67, 0.7);
}
.danger:hover {
    color: #fff;
    border-color: rgb(179, 58, 58);
    background-color: rgba(179, 58, 58, 0.7);
}

.navi-btn {
    border-left: 1px solid #dcdfe6;
    border-right: 1px solid #dcdfe6;
    border-top: 1px solid #ffffff;
    border-bottom: 0px solid #fff;
    transition: 0.3s;
}

.navi-btn:hover {
    border-top: 1px solid #dcdfe6;
    box-shadow: 0px 1px 1px #333;
}
</style>
