<template>
  <div id="app">
    <header>
      <div class="logo-wrapper">
        <div class="logo-item">
          <div class="logo">
            <i class="fab fa-angellist"></i>
            AWESOME
          </div>
        </div>
      </div>
    </header>
    <div class="nav-wrapper">
      <div class="nav-item-wrapper">
        <div class="nav-group group-left">
          <div class="nav-item">
            <router-link to="home">
              <button-el v-if="authenticated" :eventName="false" :btnClassType="'navi-btn'" :buttonText="'Home'"></button-el>
            </router-link>
          </div>
          <div class="nav-item">
            <router-link to="my-info">
              <button-el v-if="authenticated" :eventName="false" :btnClassType="'navi-btn'" :buttonText="'My Info'"></button-el>
            </router-link>
          </div>
        </div>
        <div class="nav-group group-right">
          <div class="nav-item">
            <button-el v-if="!authenticated" @toggleLogin="toggleLogin" :eventName="'toggleLogin'" :btnClassType="'success'" :buttonText="'Login'"></button-el>
          </div>
          <div class="nav-item">
            <button-el v-if="!authenticated" @toggleSignup="toggleSignup" :eventName="'toggleSignup'" :btnClassType="'success'" :buttonText="'Sign up'"></button-el>
          </div>
          <div class="nav-item">
            <button-el v-if="authenticated" @logOff="logOff" :eventName="'logOff'" :btnClassType="'danger'" :buttonText="'Sign out'"></button-el>
          </div>
        </div>
      </div>
    </div>
    <router-view></router-view>
    <div class="cookieBanner" v-if="!cookieAccepted">
      <div  class="cookie-content">
        <div class="cookie-text">
          <span>
            This site uses functional cookies. By Using this site you accept these cookies.
          </span>
        </div>
        <div class="cookie-btns">
          <button-el @acceptCookies="acceptCookies" :eventName="'acceptCookies'" :btnClassType="'success'" :buttonText="'Accept'"></button-el>
          <button-el @leave="leave" :eventName="'leave'" :btnClassType="'danger'" :buttonText="'Leave'"></button-el>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import buttonEl from "@/elements/Button";

export default {
  name: "app",
  components: {
    buttonEl
  },
  computed: {
    ...mapGetters(["activeSignup", "activeLogin", "authenticated"])
  },
  data() {
    return {
      cookieAccepted: false,
    }
  },
  methods: {
    leave() {
      window.location.replace('https://www.google.com');
    },
    acceptCookies() {
        this.cookieAccepted = true;
    },
    toggleLogin() {
      this.activateLogin = this.activateLogin
        ? !this.activateLogin
        : (this.activateLogin = true);
      this.$store.commit("activateLogin", this.activateLogin);

      this.activateSignUp = false;
      this.$store.commit("activateSignup", this.activateSignUp);
    },
    toggleSignup() {
      this.activateSignUp = this.activateSignUp
        ? !this.activateSignUp
        : (this.activateSignUp = true);
      this.$store.commit("activateSignup", this.activateSignUp);

      this.activateLogin = false;
      this.$store.commit("activateLogin", this.activateLogin);
    },
    logOff() {
      document.cookie = "gekkehenkie=; Max-Age=-99999999;";
      this.$store.commit("authentication", false);
      this.$router.push({ name: "Home" });
    }
  }
};
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
  color: #2c3e50;
}

header {
  height: 50px;
  display: inline-block;
  padding-top: 15px;
}

.nav-wrapper {
  height: 50px;
  position: relative;
  border-bottom: 1px solid #dcdfe6;
  margin-bottom: 5px;
}

.nav-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

.logo-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  /* TODO */
  width: 150px;
}

.fa-angellist:before {
    font-size: 40px;
    font-weight: bold;
}

.nav-group {
  display: flex;
  justify-content: center;
}

.nav-group.group-right {
  position: absolute;
  right: 0px;
  top: 5px;
}

.nav-group.group-left {
  position: relative;
  left: 0px;
  top: 5px;
}

.nav-item {
  margin: 0 5px;
}

.form-card {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  padding: 0px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-card:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.btns-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper {
  width: 49%;
}

input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  margin-bottom: 5px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

input:focus,
input:hover {
  border-color: #c0c4cc;
}

.cookieBanner {
  position: absolute;
  bottom: 0;
  width: 60%;
  left: 20%;
  padding: 10px 0;
}

.cookieBanner .cookie-btns {
  display: flex;
}
</style>
